.my-card{
    box-Shadow: var(--shadow);
    margin: 2rem;
    border-Radius: 0.5rem;
    min-Width: 300px;
    flex: 1;
}
.ant-card-head-title{
    margin: 0rem !important;
    font-Weight: 500;
}
.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    flex-Wrap: wrap;
    gap: 16px;
}
.my-card p{
    margin: 0;
}